:root {
  --theme-primary: #6200ee;
  --theme-primary--light: rgba(98, 0, 238, 0.04);
  --theme-on-primary: #ffffff;
  --theme-secondary: #018786;
  --theme-on-secondary: #ffffff;
  --theme-surface: #ffffff;
  --theme-on-surface: #000000;
  --theme-background: #ffffff;
  --theme-on-background: #000000;
}